body {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
header {
    /*border: 1px solid black;*/
    height: 100px;
    background: #FFFFFF;
    font-size: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: left;
    
    
}
a {
    text-decoration: none;
    color: black;
}
button a {
        color: #FFFFFF;
}
.textcolor {
    color: #7ad5ff;
}
aside {
    height: 70px;
    width: 1280;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    
     }
.menu2 {
    border: 1px solid black;
    width: 340px;
    height: 400px;
    margin-top: 50px;
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    overflow:hidden;
    background: #dbdbdb; 

}
.logo2 {
    border: 1px solid black;
    width: 880px;
    height: 520px;
    margin-top: 50px;
    margin-left: 50px;
    display: inline-block;   
    text-align: center;
    overflow: hidden;
}
section {
    /*border: 1px solid black;*/
    width: 810px;
    height: 280px;
    margin-left: 396px;
    padding: 35px;
    font-size: 14pt;
}
.footer {
    border: 1px solid black;*/
    display: inline-block;
    height: 55px;
    background: #b4b7ba;
    font-size: 25px;
    padding-top: 25px;
    padding-left: 15px;
   
}
.link2 {
    text-decoration: none;
    color: black;
    margin: 15px;
}
   .link2:hover {
    text-decoration: underline;
    color: #3181a6; 
   }
.linebar {
    background: #35444f;
    text-align: center;  
    
}
button {
    font-size: 20px;
    color: #FFFFFF;
    padding-left: 30px;
    padding-right: 30px;
    background: #35444f;
    border: none; 
    height: 70px;
    text-align: center; 
    margin-left: -4px;  
}
button:hover {
    background: #222f3a; 
}
.picture {
    display: inline-block;
  vertical-align: middle;
}
.link {
    width: 275px;
    height: 30px;
    padding: 25px;
    padding-left: 40px;
    display: block;
    text-decoration: none;
    color: #495863;
    background: #FFFFFF; 
      
}
.link:hover {
    background: #dbdbdb; 
    color: black; 
    transition: 1s;
    transform: translateX(20px);
   } 
   .logo2>img:hover {
    transition: 1s;
    transform: scale(1.2);
}
.copy {
    padding-right: 35px;
    float: right;
}